@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.componentContainer{
  @apply px-2 py-4  w-full h-full lg:w-3/6 xl:w-2/6 lg:h-fit xl:h-fit flex flex-col items-center justify-start lg:justify-between text-green-800 lg:border-solid lg:border border-green-700;
}
.component_title{
  @apply font-semibold text-2xl;
}

.btn{
  @apply rounded-md py-2 px-4 hover:scale-105;
}
.btn{
  @apply rounded-md py-2 px-4 font-semibold mx-2 text-green-800;
}
.btn--full{
  @apply w-full px-4 lg:w-fit lg:px-16 mt-4;
}
.btn--outline{
  @apply bg-transparent hover:bg-gray-100 border border-solid ;
}
.btn--solid{
  @apply bg-green-400 hover:bg-green-900 hover:text-green-200 border border-solid border-green-500;
}
.btn--solid--inverted{
  @apply bg-green-900 text-green-200 hover:bg-green-400 hover:text-green-900 border border-solid border-green-500;
}
.component_social_section{
  @apply flex flex-col items-center;
}
.component_icon_section{
  @apply w-full h-16 flex justify-center items-center;
}
.icon_links{
  @apply text-2xl inline-block border border-solid rounded-md p-2 mx-2 hover:scale-105 ;
}
.icon_links:hover .google{
  @apply text-red-800;
}
.icon_links:hover .apple{
  @apply text-gray-800;
}
.icon_links:hover .facebook{
  @apply text-blue-600;
}
.component_form_section{
  @apply my-6;
}
.form{
  @apply flex flex-col items-center;
}
.form .form__input-container{
  @apply flex flex-col relative w-full lg:w-80 rounded-md border border-solid px-2 py-3 mt-4;
}
.input_container{
  @apply flex items-center;
}
.input-items{
  @apply flex items-center bg-gray-100 w-full h-fit flex items-center px-1;
}
.form .form__input-field{
  @apply w-full px-2 py-2 bg-gray-100;
}
.form__label{
  @apply absolute -top-4 bg-white;
}
.icon{
  @apply text-lg mr-1;
}
.icon-svg--left{
  @apply  ml-1;
}
/*RiPlantFill*/
